<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443437268523-f6fk7pn52cu8865bpvmrf9722lo3su6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443437268523-f6fk7pn52cu8865bpvmrf9722lo3su6o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>443437268523-t75h3h8p1c8l4a5rpkmsjbge21gtfr35.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDzJL18y6trCmMbZod2oQcbgOv0MwlnSA</string>
	<key>GCM_SENDER_ID</key>
	<string>443437268523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newUserSide</string>
	<key>PROJECT_ID</key>
	<string>mein-haus-login</string>
	<key>STORAGE_BUCKET</key>
	<string>mein-haus-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443437268523:ios:66d3571208f100ed82746e</string>
</dict>
</plist>